<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>NOTE_EDITOR</title>
	<link rel="stylesheet" type="text/css" href="/static/css/semantic.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
</head>

<body>

	<div class="ui vertical masthead center aligned segment" ng-app="note_editor" ng-controller="EditorCtrl">

		<div class="ui container">
			<div class="ui large secondary pointing menu">
				<a class="item">
					<img class="logo" src="/static/img/logo.png">&nbsp;&nbsp;&nbsp; Notes Editor
				</a>
			</div>
		</div>

		<br/>

		<div ng-if="fabric.isLoading()" class="image-loading">
			<div class="loading-indicator"></div>
		</div>

		<div class="ui container">
			<div class='ui grid'>
				<div class='left floated eight wide column'>
					<div class="ui buttons">
						<button ng-disabled="!fabric.selectedObject" ng-click="fabric.deleteActiveObject(); fabric.setDirty(true)" class='ui red button'>
							<i class='trash icon'></i> Delete
						</button>
						<button ng-click='addImage()' class='ui button'>
							<i class='image icon'></i> Image
						</button>
						<button ng-click="fabric.addText()" class='ui button' >
							<i class='font icon'></i> Text
						</button>
						<!--
						<button ng-click='addShape()' class='ui button'>
							<i class='star icon'></i> Shapes
						</button>
					-->
					<button ng-click="fabric.clearCanvas(); fabric.setDirty(true)" class='ui button'>
						<i class='refresh icon'></i> Restart
					</button>
					<button class='ui disabled button'>
						{$ fabric.canvasWidth $} x {$ fabric.canvasHeight $} ePaper
					</button>
				</div>
			</div>

			<div class="right floated four wide column">
				<div class="ui buttons">
					<button class='ui button' title='Dummy button.  This is where you would take the json from the canvas and save it to your database.'>
						<i class='save icon'></i> Save <span ng-show='fabric.isDirty()' class='text-danger'>*</span>
					</button>

					<button ng-click="fabric.download('IMGEXP')" class='ui green button'>
						<i class='download icon'></i> Download
					</button>
				</div>
			</div>
		</div>

		<div class='ui grid' parent-click="fabric.deactivateAll()">
			<div class='left floated right aligned nine wide column'>
				<canvas fabric="fabric">
					Texte alternatif pour les navigateurs ne supportant pas Canvas.
				</canvas>
			</div>
			<div class="right floated left aligned three wide column">
				<div ng-if='fabric.selectedObject'>
					<div ng-switch='fabric.selectedObject.type'>
						<div ng-switch-when='text' class="ui form">
							<div class="field">
								<textarea style="text-align: {{ fabric.selectedObject.textAlign }}" rows="6" ng-model="fabric.selectedObject.text"></textarea>
							</div>

							<div class="ui left icon input">
								<i class="text height icon"></i>
								<input type='number' ng-model="fabric.selectedObject.fontSize" />
							</div>

							<div class="ui left icon input">
								<i class="align left icon"></i>
								<input type='number' ng-model="fabric.selectedObject.lineHeight" step=".1" />
							</div>

							<div class='ui buttons'>
								<button ng-class="{ active: fabric.selectedObject.textAlign == 'left' }" ng-click="fabric.selectedObject.textAlign = 'left'" class='compact ui icon button'>
									<i class='align left icon'></i>
								</button>

								<button ng-class="{ active: fabric.selectedObject.textAlign == 'center' }" ng-click="fabric.selectedObject.textAlign = 'center'" class='compact ui icon button'>
									<i class='align center icon'></i>
								</button>

								<button ng-class="{ active: fabric.selectedObject.textAlign == 'right' }" ng-click="fabric.selectedObject.textAlign = 'right'" class='compact ui icon button'>
									<i class='align right icon'></i>
								</button>
							</div>

							<br />

							<div class='ui buttons'>
								<button ng-class="{ active: fabric.isBold() }" ng-click="fabric.toggleBold()" class='compact ui icon button'>
									<i class='bold icon'></i>
								</button>

								<button ng-class="{ active: fabric.isItalic() }" ng-click="fabric.toggleItalic()" class='compact ui icon button'>
									<i class='italic icon'></i>
								</button>

								<button ng-class="{ active: fabric.isUnderline() }" ng-click="fabric.toggleUnderline()" class='compact ui icon button'>
									<i class='underline icon'></i>
								</button>

								<button ng-class="{ active: fabric.isLinethrough() }" ng-click="fabric.toggleLinethrough()" class='compact ui icon button'>
									<i class='strikethrough icon'></i>
								</button>
							</div>

							<br />

							<div class="field">
								<select class="ui fluid dropdown" ng-model="fabric.selectedObject.fontFamily" id="font" ng-init="addText()">
									<option ng-repeat='font in FabricConstants.fonts' style='font-family: "{$ font.name $}";' value="{$ font.name $}">
										{$ font.name $}
									</option>
								</select>
							</div>
						</div>

						<div ng-switch-when="image">
							<div class="input-prepend">
								<button ng-class="{ active: fabric.isTinted() }" ng-click="fabric.toggleTint()" class='btn'>
									<i class='fa fa-tint'></i>
								</button>
								<input type="text" class='input-small' ng-model='fabric.selectedObject.tint' />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<input class='col-sm-12' title="Transparency" type='range'
							min="0"
							max="1"
							step=".01"
							ng-model="fabric.selectedObject.opacity" />
						</div>
					</div>

					<div class="ui buttons">
						<button class='compact ui button icon' ng-class="{ active: fabric.getFlipX() }" ng-click="{ active: fabric.toggleFlipX() }">
							<i class='exchange icon'></i> Flip
						</button>
					</div>

					<div class="row" ng-hide="fabric.selectedObject.type == 'image'">
						<div class="col-sm-12">
							<input type="text" class='form-control' ng-model="fabric.selectedObject.fill" />
						</div>
					</div>

					<div class="ui vertical buttons">
						<button ng-click='fabric.center()' class='compact ui button'>
							Center
						</button>

						<button ng-click='fabric.centerH()' class='compact ui button'>
							Center Horizontally
						</button>

						<button ng-click='fabric.centerV()' class='compact ui button'>
							Center Vertically
						</button>
					</div>

					<br />

					<div class="ui vertical buttons">
						<button ng-click='fabric.bringToFront(); fabric.setDirty(true)' class='compact ui button'>
							Bring to front
						</button>

						<button ng-click='fabric.bringForward(); fabric.setDirty(true)' class='compact ui button'>
							Bring forwards
						</button>

						<button ng-click='fabric.sendBackwards(); fabric.setDirty(true)' class='compact ui button'>
							Send backwards
						</button>

						<button ng-click='fabric.sendToBack(); fabric.setDirty(true)' class='compact ui button'>
							Send to back
						</button>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script type="text/javascript" src="/static/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="/static/js/fabricjs.js"></script>
	<script type="text/javascript" src="/static/js/angular.min.js"></script>
	<script type="text/javascript" src="static/js/assets/fabric.js"></script>
	<script type="text/javascript" src="static/js/assets/fabricCanvas.js"></script>
	<script type="text/javascript" src="static/js/assets/fabricConstants.js"></script>
	<script type="text/javascript" src="static/js/assets/fabricDirective.js"></script>
	<script type="text/javascript" src="static/js/assets/fabricDirtyStatus.js"></script>
	<script type="text/javascript" src="static/js/assets/fabricUtilities.js"></script>
	<script type="text/javascript" src="static/js/assets/fabricWindow.js"></script>
	<script type="text/javascript" src="/static/js/semantic.min.js"></script>
	<script type="text/javascript" src="/static/js/angular.semantic-ui.min.js"></script>
	<script type="text/javascript" src="/static/js/app.js"></script>

</body>
</html>
